*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.row.before, .row:after {
  content:"";
  display: table;
  clear: both;
}


[class*="col-"]{
  float: left;
  min-height: 7px ;
  padding: 12px;
}
/*
fórmula para ancho de las columnas ((Ncol/12)*100)
*/
.col-1 {
  width: 8.333333%;
  border: 1px solid red;
  height: 300px;
} 

.col-2 {
  width: 16.666667%;
} 

.col-3 {
  width: 25%;
} 

.col-4 { 
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
} 

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}


body{
	font-family: 'Open Sans', sans-serif;
}
header{
	height: 5em;
	position: fixed;
	width: 100%;
	z-index: 10;
}

#links{
	background-color: #000;
	width: 100%;
	height: 2.5em;
	padding-top: 0.5em;

}
#links a{

	text-decoration: none;
	color: #FFF;
	margin-right: 1em;
}

#links a:hover{
	text-decoration: underline;
}

#tienda{
	margin-left: 10em;
}

#search{
	background-color: #FFF;
	width: 100%;
	height: 2.5em;
}

#buscador{
	margin-left: 10em;
	margin-top: 1em;
	width: 20em;

}

#logo{
	width: 4em;
	height: 5em;
	position: absolute;
	margin-left: 1em;
}

main{
	padding-top: 7em;
	background-color: #EFEFEF;
	width: 100%;
	height: auto;
	padding-left: 8em;
	padding-right: 5em;
}

.imgSecciones{
	width: 20em;
	height: 15em;
	margin-right: 3em;
	margin-bottom: 2em;
	border-radius: 0.5em;
	opacity: 0.4;
}

.imgSecciones:hover{
	opacity: 0.8;
}
